// paper & background
$paper: #ffffff;

// primary
$primaryLight: #8186b1;
$primaryMain: #25283d;
$primaryMainRgb: 37, 40, 61;
$primaryDark: #25283d;
$primary200: #ebeeff;
$primary800: #646579;

// secondary
$secondaryLight: #ebf6f4;
$secondaryMain: #24d4b3;
$secondaryDark: #24d4b30a;
$secondary200: #b6f4e8;
$secondary800: #1eae94;

// success Colors
$successLight: #b9f6ca;
$success200: #69f0ae;
$successMain: #00e676;
$successDark: #00c853;

// error
$errorLight: #ef9a9a;
$errorMain: #f44336;
$errorDark: #c62828;

// orange
$orangeLight: #fbe9e7;
$orangeMain: #ffab91;
$orangeDark: #d84315;

// warning
$warningLight: #fff8e1;
$warningMain: #ffe57f;
$warningDark: #ffc107;

// grey
$grey50: #fafafa;
$grey100: #f5f5f5;
$grey200: #eeeeee;
$grey300: #e0e0e0;
$grey500: #9b9ca5;
$grey600: #757575;
$grey700: #616161;
$grey900: #212121;

//text
$textHint: #25283d8a;
$lightTextMain: $primaryMain;

$background200: #f5f3f5;
$background500: #fdfdfd;
$background600: #f9f9f9;
$background800: #eeeeee;

// ==============================|| DARK THEME VARIANTS ||============================== //

// paper & background
$backgroundLightPrimary: #fafafa;
$backgroundLightSecondary: #f5f3f5;
$backgroundDarkPrimary: #181a2b;
$backgroundDarkSecondary: $primaryMain;

$darkBackground: #1a223f; // level 3
$darkPaper: #171B2E; // level 4

// dark 800 & 900
$darkLevel1: #29314f; // level 1
$darkLevel2: #212946; // level 2

// primary dark
$darkPrimaryLight: #e3f2fd;
$darkPrimaryMain: #2196f3;
$darkPrimaryDark: #1e88e5;
$darkPrimary200: #90caf9;
$darkPrimary800: #1565c0;

// secondary dark
$darkSecondaryLight: #d1c4e9;
$darkSecondaryMain: #7c4dff;
$darkSecondaryDark: #651fff;
$darkSecondary200: #b39ddb;
$darkSecondary800: #6200ea;

// text variants
$darkTextTitle: #d7dcec;
$darkTextPrimary: #bdc8f0;
$darkTextSecondary: #8492c4;
$darkTextMain: #fff;

// ==============================|| JAVASCRIPT ||============================== //

:export {
  // paper & background
  paper: $paper;
  white: #fff;
  backgroundLightPrimary: $backgroundLightPrimary;
  backgroundLightSecondary: $backgroundLightSecondary;

  // primary
  primaryLight: $primaryLight;
  primary200: $primary200;
  primaryMain: $primaryMain;
  primaryMainRgb: $primaryMainRgb;
  primaryDark: $primaryDark;
  primary800: $primary800;

  // secondary
  secondaryLight: $secondaryLight;
  secondary200: $secondary200;
  secondaryMain: $secondaryMain;
  secondaryDark: $secondaryDark;
  secondary800: $secondary800;

  // success
  successLight: $successLight;
  success200: $success200;
  successMain: $successMain;
  successDark: $successDark;

  // error
  errorLight: $errorLight;
  errorMain: $errorMain;
  errorDark: $errorDark;

  // orange
  orangeLight: $orangeLight;
  orangeMain: $orangeMain;
  orangeDark: $orangeDark;

  // warning
  warningLight: $warningLight;
  warningMain: $warningMain;
  warningDark: $warningDark;

  // grey
  grey50: $grey50;
  grey100: $grey100;
  grey200: $grey200;
  grey300: $grey300;
  grey500: $grey500;
  grey600: $grey600;
  grey700: $grey700;
  grey900: $grey900;
  //text
  textHint: $textHint;
  lightTextMain: $lightTextMain;

  background200: $background200;
  background500: $background500;
  background600: $background600;
  background800: $background800;

  // ==============================|| DARK THEME VARIANTS ||============================== //

  // paper & background
  darkPaper: $darkPaper;
  darkBackground: $darkBackground;
  darkMainBackground: $darkBackground;

  // dark 800 & 900
  darkLevel1: $darkLevel1;
  darkLevel2: $darkLevel2;

  // text variants
  darkTextTitle: $darkTextTitle;
  darkTextPrimary: $darkTextPrimary;
  darkTextSecondary: $darkTextSecondary;
  darkTextMain: $darkTextMain;

  // primary dark
  darkPrimaryLight: $darkPrimaryLight;
  darkPrimaryMain: $darkPrimaryMain;
  darkPrimaryDark: $darkPrimaryDark;
  darkPrimary200: $darkPrimary200;
  darkPrimary800: $darkPrimary800;

  // secondary dark
  darkSecondaryLight: $darkSecondaryLight;
  darkSecondaryMain: $darkSecondaryMain;
  darkSecondaryDark: $darkSecondaryDark;
  darkSecondary200: $darkSecondary200;
  darkSecondary800: $darkSecondary800;

  backgroundDarkPrimary: $backgroundDarkPrimary;
  backgroundDarkSecondary: $backgroundDarkSecondary;

  darkBackground800: #414458;
  darkBackground500: #15192f;
  darkBackground600: #181d32;
  darkBackground200: #121423;
}
