@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --theme-color-primary: #26283d;
  --theme-color-secondary: #22d4b3;
  --color-yellow-light: #efb90b1f;
  --color-yellow-primary: #efb90b;
  --color-success: #03a66d;
  --color-fail: #f6465d;
  --theme-shadow-primary: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  --theme-background-secondary-light: #ebf6f478;
}

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif !important;
}
html {
  font-size: 17px !important;
}
a {
  text-decoration: none;
  color: unset;
  font-weight: bold;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &::-webkit-scrollbar {
    width: 0;
  }
}
h1 {
  line-height: 1.9rem;
}
h2 {
  line-height: 1.6rem;
}
table {
  td,
  th {
    white-space: nowrap;
  }
}

@keyframes fade {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(20px);
    opacity: 0.3;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  html {
    font-size: 16.5px !important;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  html {
    font-size: 15.5px !important;
  }
}
